<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增服务器')" />
	<th:block th:include="include :: select2-css" />
</head>
<body>
    <div class="main-content">
        <form id="form-server-add" class="form-horizontal" >
            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
            	<div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">服务器IP：</label>
                        <div class="col-sm-8">
                            <input id="serviceIp" name="serviceIp"  placeholder="请输入服务器IP" class="form-control" type="text" maxlength="30" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">登录用户名：</label>
                        <div class="col-sm-8">
                            <input id="serviceUser" name="serviceUser"  placeholder="请输入登录用户名" class="form-control" type="text" maxlength="30" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">登录密码：</label>
                        <div class="col-sm-8">
                            <input id="servicePassword" name="servicePassword"  placeholder="请输入登录密码" class="form-control" type="password" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">端口号：</label>
                        <div class="col-sm-8">
                            <input id="servicePort" name="servicePort"  placeholder="请输入端口号" value='22' class="form-control" type="number" maxlength="30" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
      
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-success" onclick="testConnect()"><i class="fa fa-chain"></i>测试连接</button>&nbsp;
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: select2-js" />
	<script th:inline="javascript">
        var prefix;
        $(function() {
            prefix = portal.bp();

            $("#form-server-add").validate({
                onkeyup: false,
                rules:{
                    serviceIp:{
                        isIp:true,
                        remote: {
                            url: prefix + "/serverInfo/checkServiceIpUnique",
                            type: "get",
                            dataType: "json",
                            async:false,
                            data: {
                                "serviceIp": function() {
                                    return $.common.trim($("#serviceIp").val());
                                }
                            },
                            dataFilter: function(data, type) {
                                return $.validate.unique(data);
                            }
                        }
                    },
                    serviceUser:{
                        minlength: 1,
                        maxlength: 20
                    },
                    servicePassword:{
                        minlength: 1,
                        maxlength: 30
                    },
                    servicePort:{
                        minlength: 1,
                        maxlength: 30,
                        digits:true
                    }
                },
                messages: {
                    "serviceIp": {
                        remote: "IP已经存在"
                    }
                },
                focusCleanup: true
            });
        });

        function submitHandler() {
	        if ($.validate.form()) {
	        	var data = $("#form-server-add").serializeArray();
	        	$.operate.save(prefix + "/serverInfo/add", data);
	        }
	    }

        function testConnect(){
            if ($.validate.form()) {
                $.ajax({
                    cache : false,
                    type : "post",
                    url : prefix + "/serverInfo/testConnect",
                    data : $("#form-server-add").serializeArray(),
                    async : false,
                    error : function(request) {
                        $.modal.alertError("系统错误");
                    },
                    success : function(data) {
                        if(data.code == web_status.SUCCESS){
                            $.modal.msgSuccess("连接成功")
                        }else{
                            $.modal.alertError(data.msg);
                        }
                    }

                });
            }
        }

    </script>
</body>
</html>