<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('内存图表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
	        <div id="chart" style="height: 90%;width: 100%;" class="col-sm-12 select-table table-striped">
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
    <th:block th:include="include :: echarts-js" />
    <script th:src="@{/monitoring/hardware/mem-chart.js}"></script>
	<script th:inline="javascript">
        var xAxisData = [[${xAxisData}]];
        var seriesData = [[${seriesData}]];
	</script>
</body>
</html>